<fieldset class="border-0">
  <div class="form-row">
    <legend class="col-12">Account Info</legend>

  </div>
  <div class="form-row">
    <div class="form-group col-12 col-md-4 account-profile">
      <%= f.text_field :login, :placeholder => 'Login...', :class => 'form-control form-control-lg' %>
    </div>
    <div class="form-group col-12 col-md-4 account-profile">
      <%= f.password_field :password, :placeholder => 'Password...', :class => 'form-control form-control-lg' %>
    </div>
    <div class="form-group col-12 col-md-4 account-profile">
      <%= f.password_field :password_confirmation, :placeholder => 'Confirm Password...', :class => 'form-control form-control-lg' %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12 account-profile">
      <%= text_field_tag 'code', params[:code], :placeholder => 'Optional Coupon...', :class => 'form-control form-control-lg' %>
    </div>
  </div>
</fieldset>
<fieldset class="border-0">
  <div class="form-row">
    <legend class="col-12">Name</legend>

  </div>
  <div class="form-row">
    <div class="form-group col-12 col-md-6 account-profile">
      <%= f.text_field :first_name, :placeholder => 'First Name...', :class => 'form-control form-control-lg' %>
    </div>
    <div class="form-group col-12 col-md-6 account-profile">
      <%= f.text_field :last_name, :placeholder => 'Last Name...', :class => 'form-control form-control-lg' %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12 account-profile">
      <%= f.label :email, 'Email', :class => 'sr-only' %>
      <% if f.object.email_validated? %>
        <i class="fas fa-check-square fa-sm text-primary"></i>&nbsp;<small class="rg-branding-primary">Email validated</small>
        <%= f.text_field :email, :placeholder => 'Email...', :class => 'form-control form-control-lg validated_contact_info_field' %>
      <% else %>
        <%= f.text_field :email, :placeholder => 'Email...', :class => 'form-control form-control-lg' %>
      <% end %>
    </div>
  </div>
  <!--
  <div class="form-row">
    <div class="form-group col-12 account-profile">
      <%= f.label :email2, 'Email 2', :class => 'sr-only' %>
      <%= f.text_field :email2, :placeholder => 'Email 2...', :class => 'form-control form-control-lg' %>
    </div>
  </div>
  -->
</fieldset>
<fieldset class="border-0">
  <div class="form-row">
    <legend class="col-12">Address</legend>

  </div>
  <div class="form-row">
    <div class="form-group col-12 account-profile">
      <%= f.label :address1, 'Address 1', :class => 'sr-only' %>
      <%= f.text_field :address1, :placeholder => 'Address 1...', :class => 'form-control form-control-lg' %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12 account-profile">
      <%= f.label :address2, 'Address 2', :class => 'sr-only' %>
      <%= f.text_field :address2, :placeholder => 'Address 2...', :class => 'form-control form-control-lg' %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-4 col-md-6 account-profile">
      <%= f.label :city, 'City', :class => 'sr-only' %>
      <%= f.text_field :city, :placeholder => 'City...', :class => 'form-control form-control-lg' %>
    </div>
    <div class="form-group col-4 col-md-3 account-profile">
      <%= f.label :region, 'State', :class => 'sr-only' %>
      <%= f.text_field :region, :placeholder => 'State...', :class => 'form-control form-control-lg' %>
    </div>
    <div class="form-group col-4 col-md-3 account-profile">
      <%= f.label :zip, 'Zip', :class => 'sr-only' %>
      <%= f.text_field :zip, :placeholder => 'Zip...', :class => 'form-control form-control-lg' %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12 col-md-6 col-lg-4">
      <%= f.label :country, 'Country', :class => 'sr-only' %>
      <%= f.localized_country_select(:country, priority_countries=['US', 'CA'], {}, { :class => 'form-control form-control-lg' }) %>
    </div>
    <div class="form-group col-12 col-md-8 account-profile">
      <% if f.object.phone_validated? %>
        <i class="fas fa-check-square fa-sm text-primary"></i>&nbsp;<small class="rg-branding-primary">Phone validated</small>
        <%= f.text_field :phone, :placeholder => 'Phone...', :class => 'form-control form-control-lg validated_contact_info_field' %>
      <% else %>
        <%= f.text_field :phone, :placeholder => 'Phone...', :class => 'form-control form-control-lg' %>
      <% end %>
    </div>
  </div>
</fieldset>
<fieldset class="border-0">
  <div class="form-row">
    <legend class="col-12">Account Recovery</legend>

  </div>
  <%= fields_for(@secret_question) do |f| %>
    <div class="form-row">
      <div class="form-group col-12 col-md-6 col-lg-4">
        <%= f.label :id, 'Secret Question', :class => 'sr-only' %>
        <%= f.select(:id,
        SecretQuestion.all.collect {|f| [ f.question, f.id ] },
        { :prompt => 'Secret Question' }, { :class => 'form-control form-control-lg' }) %>
      </div>
    </div>
  <% end %>
  <%= fields_for(@secret_answer) do |f| %>
    <div class="form-row">
      <div class="form-group col-12 account-profile">
        <%= f.label :answer, 'Answer', :class => 'sr-only' %>
        <%= f.text_field :answer, :placeholder => 'Answer...', :class => 'form-control form-control-lg' %>
      </div>
    </div>
  <% end %>
</fieldset>
