<div class="row">
  <div class="col-12">
    <h4>Add Device</h4>
    <p>
      Use this option if you wish to add access for a different device or a headless device such as a printer or game console. Enter the device's hardware identifier (MAC address) in the field and click the Add button below.
    </p>
  </div>
</div>
<%= form_tag({:action => :add_device}) do %>
<fieldset>
  <div class="form-row">
    <div class="form-group col-12 col-md-8">
        <%= label_tag('device_mac', 'MAC Address:') %>
        <%= text_field_tag(:device_mac, @device_mac, :size => 20, :placeholder => '00:00:00:00:00:00', :class => 'form-control form-control-lg') %>
    </div>
    <div class="form-group col-12 col-md-4">
      <div class="d-none d-md-block" style="height:24px;margin-bottom:8px;" aria-hidden="true">&nbsp;</div>
      <%= button_tag('Add', :class => 'col-12 btn-lg btn-primary', :data => { :disable_with => '<span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true"></span> Please wait...' }) %>
    </div>
  </div>
  <% if true#@current_account_or_token.is_virtual_gateway? %>
    <div class="form-row">
      <div class="form-group col-12 col-md-4 text-md-right">
        <%= label_tag('device_binat', 'Activate DMZ') %>
        <%= check_box_tag(:device_binat, 1, false) %>
      </div>
      <div class="form-group col-12 col-md-8 text-center text-md-left">
        <%= link_to('Help me find my MAC address', {:action => 'mac_info'}, {:class => 'col-9 d-block mx-md-auto'}) %>
      </div>
    </div>
  <% end %>
</fieldset>
<% end %>

<% if @unclaimed_vtas.present? %>
<div class="row">
  <div class="col-12">
    <p class="center">
      Nearby devices:<br>
      <% @unclaimed_vtas.each do |vta| %>
        <%= content_tag(:a, :class => 'nearby_mac', :data => {mac: vta.mac}) do %>
        <%= vta.mac %>

        <% if lease = DhcpLease.find_by(mac: vta.mac) %>
          -
          <%= lease.hostname %>
          <% if lease.vendor %>
            [<%= lease.vendor %>]
          <% end %>
        <% end %>
      <% end %>
      <br>
    <% end %>
  </p>
</div>
</div>
<% end %>
